body{
  font-family: Rubik, sans-serif;
  color: #555555;
  margin: 0;
}

.header{
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo{
  padding: 10px 20px;
}

.menu{
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0 20px;
}
.menu li{
  list-style: none;
  padding: 10px;
}

.menu a{
  text-transform: uppercase;
  color: #555555;
}

.link{
  text-decoration: none;
}

.link:hover{
  color: #3CDBC0;
  border-bottom: 2px #3CDBC0 solid;
  padding-bottom: 3px;
}

.main{
  margin-top: 100px;
  position: relative;
}

.hero{
  width: 100%;
}

.title{
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: 1em;
  font-weight: bold;
  word-spacing: 100vw;
}

.footer{
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #252525;
}

.footer a{
  color: #aaaaaa;
}

.footer p{
  padding: 0 20px;
}

@media (min-width: 420px){
  .header{
    flex-direction: row;
  }

  .title{
    font-size: 2em;
  }

  .footer{
    height: 150px;
  }
}

@media (min-width: 900px){

  .title{
    font-size: 3em;
  }

  .footer{
    height: 200px;
  }

}
