body {
  font-family: 'Rubik', sans-serif;
  color: #555; /* Si un hexadecimal es igual dos a dos se puede abreviar #AABBCC -> #ABC */
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
}

.logo {
  padding: 10px 20px;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin: 0 20px;
  text-transform: uppercase;
  list-style: none;
}

.menu li {
  padding: 10px;
}

.menu a {
  /* Esto es para que herede el color de body, así solo lo cambiamos en 1 sitio */
  color: inherit;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #3CDBC0;
  border-bottom: 2px solid #3CDBC0;
  padding-bottom: 3px;
}

.contact {
  margin-top: 150px;
  padding: 20px;
}

.contact-form {
  margin: 50px auto;
  width: 400px;
}

/*
En los estilos de los componentes del formulario usamos las etiquetas porque
queremos que se apliquen a todos los labels, inputs, textarea, etc. Normalmente
en una página web los estilos se mantienen para estos elementos de ahí que en este
caso sea más indicado poner los estilos directamente a la etiqueta.
*/

label,
textarea,
input {
  box-sizing: border-box;
  display: block;
}

label {
  margin-top: 10px;
}

input,
textarea {
  font-size: inherit; /* Los inputs tienen un tamaño más pequeño */
  width: 100%;
  background-color: #f5f5f5;
  margin: 5px 0;
  border: 0;
  outline-color: #3CDBC0;
  padding: 1em;
}

textarea {
  resize: vertical; /* Para que el formulario solo se pueda redimensionar verticalmente */
  margin-bottom: 10px;
  min-height: 4.5em;
}

input[type="submit"] {
  background-color: #3CDBC0;
  width: 100px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
}

.footer {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  background-color: #252525;
}

.footer a {
  color: #aaa;
}

.footer p {
  padding: 0 20px;
}

@media (min-width: 500px) {
  .header {
    flex-direction: row;
  }

  .footer {
    padding: 30px ;
  }
}

@media (min-width: 900px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
